{% extends 'base.html.twig' %}

{% block title %}Administration
{% endblock %}

{% block body %}
	<button>
		<a href="{{path('admin')}}">Tout les rappels</a>
	</button>
	<button>Les 5 dernier rappels</button>
	<button>Rappel du jour</button>
	<button>Ajouter un créneaux</button>
	<div class="col-md-9">
		<h3>Tout les rappels</h3>
		{% if lastcallbacks %}

			<table class="table">
				<thead>
					<tr>
						<th scope="col">#</th>
						<th scope="col">Nom</th>
						<th scope="col">Prénom</th>
						<th scope="col">Email</th>
						<th scope="col">Téléphone</th>
						<th scope="col">Créneaux</th>
						<th scope="col">Date</th>
						<th scope="col">Message</th>
					</tr>
				</thead>
				<tbody>
					{% for lastcallback in lastcallbacks %}
						<tbody>
							<tr>
								<th scope="row">{{lastcallback.id}}</th>
								<td>{{lastcallback.lastname}}</td>
								<td>{{lastcallback.firstname}}</td>
								<td>{{lastcallback.email}}</td>
								<td>{{lastcallback.phone}}</td>
								<td>{{lastcallback.time}}</td>
								<td>{{lastcallback.date|date("d/m/Y")}}</td>
								<td>{{lastcallback.message}}</td>

							</tr>

						</tbody>
					{% endfor %}
				</tbody>
			</table>
		{% endif %}


	</div>

{% endblock %}
